<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta Info -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- Title -->
  <title>Ephemeral - {{title}} - Improbable Island</title>
</head>
<body>
  {{{body}}}

  <footer></footer>

  <!-- Scripts -->
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>